<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
 @*  @Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/bootstrap")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   
        <div class="container body-content">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div>
                        <a class="navbar-brand" href="/">Chrometopia</a>
                        <ul class="nav navbar-nav">
                            <li><a href="/">Reports</a></li>
                            <li><a href="/LoadData">Load Data</a></li>
                        </ul>
                        </div>
                    </div>
                </nav>
            @RenderBody()
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
